/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jersey+10&display=swap');

:root {
    --primary-font: 'Doto', sans-serif;
    --secondary-font: 'Jersey 10', sans-serif;
    --primary-text-color: #ffffff;
    --primary-background-color: #112223;
    --secondary-text-color: black;
    --secondary-background-color: #70797a;
}

/* General Styles */

body {
    padding-top: 50px;
    /*padding-bottom: 10px;*/
    background-color: var(--primary-background-color);
    font-family: var(--primary-font);
    color: var(--primary-text-color);

}

p {
    font-family: var(--secondary-font);
}

footer {
    padding-top: 25px;
}

/* Navbar Styles */

.navbar-brand,
.navbar-nav .nav-link {
  background: var(--primary-background-color);
  border: none;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}
.navbar-nav {
  background-color: var(--secondary-background-color);
}

.navbar-toggler {
  background-color: var(--primary-background-color);
  border: 6px solid var(--secondary-background-color);
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  transition: color 1s ease;
  color: var(--secondary-background-color);
}
.navbar-nav .nav-link.active {
  color: var(--secondary-background-color);
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    text-align: right;
  }
  .navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important;
    align-items: flex-end !important;
    width: 100%;
    display: block !important;
  }
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 1rem;
    padding-left: 0;
  }
}